name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  nocommit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: nobssoftware/nocommit@5c3cf9519fe40b80b0954d254085b67b532a5dc3

  nix-flake-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15
      - uses: determinatesystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39
      - run: nix flake check -L

  nix-flake-health:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15
      - uses: determinatesystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39
      - run: nix flake show
      - run: nix flake lock --no-update-lock-file
      - run: nix flake check --no-build

  actions-timeline:
    needs:
      - nocommit
      - nix-flake-check
      - nix-flake-health
    runs-on: ubuntu-latest
    steps:
      - uses: kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca
